<% if (!onlyContent) { %>
    <!DOCTYPE html>
    <html>
    <head>
        <title>Administração do Refeitório</title>
        <link rel="stylesheet" href="/css/admin.css">
    </head>
    <body>
        <header>
            <h1>Área Administrativa</h1>
            <h3>EEEFM Coronel Olímpio Cunha</h3>
            <a href="/" class="btn-voltar">← Voltar</a>       
            <nav>
                <ul>
                <li><a href="/admin">Anúncios</a></li>
                <li><a href="/admin/adminRefeitorio" class="active">Refeitório</a></li>
                <!-- Adicione outros links conforme necessário -->
                </ul>
            </nav>
        </header>
        <section>
            <h1>Atualização das TV's do Refeitório</h1>
            <form id="informativoForm" action="/api/refeitorio" method="post" name="informativoForm">
                <label for="titulo">Título:</label>
                <input type="text" id="titulo" name="titulo" required>
        
                <label for="mensagem">Mensagem:</label>
                <textarea id="mensagem" name="mensagem" required></textarea>
        
                <label for="imagemUrl">URL da Imagem:</label>
                <input type="text" id="imagemUrl" name="imagemUrl">
    
                <!-- Campo para upload de imagem, corrigindo o id -->
                <label for="imagemFile">Upload de Imagem:</label>
                <input type="file" id="imagemFile" name="imagemFile" accept="image/*" />
        
                <label for="videoUrl">URL do Vídeo:</label>
                <input type="text" id="videoUrl" name="videoUrl">
        
                <div class="checkbox-container">
                    <label for="videoComSom">Reproduzir vídeo com som:</label>
                    <input type="checkbox" id="videoComSom" name="videoComSom" />
                </div>
                </select>
        
                <label for="turno">Turno:</label>
                <select id="turno" name="turno" required>
                <option value="matutino">Matutino</option>
                <option value="vespertino">Vespertino</option>
                <option value="ambos">Ambos</option>
                </select>
        
                <label for="dataInicio">Data de Início do Anúncio:</label>
                <input type="date" id="dataInicio" name="dataInicio">
    
                <label for="dataFim">Data de Término do Anúncio:</label>
                <input type="date" id="dataFim" name="dataFim">
    
                <button type="submit">Publicar Informativo</button>
            </form>
        </section>
        <section>
            <h2>Informativos Publicados</h2>
            <div id="informativoList"></div>  
        </section>
        <%- include('partials/footerRefeitorio') %>             
<% } else { %>
    <section>
        <h1>Atualização das TV's do Refeitório</h1>
        <form id="informativoForm" action="/api/refeitorio" method="post" name="informativoForm">
            <label for="titulo">Título:</label>
            <input type="text" id="titulo" name="titulo" required>
    
            <label for="mensagem">Mensagem:</label>
            <textarea id="mensagem" name="mensagem" required></textarea>
    
            <label for="imagemUrl">URL da Imagem:</label>
            <input type="text" id="imagemUrl" name="imagemUrl">

            <!-- Campo para upload de imagem, corrigindo o id -->
            <label for="imagemFile">Upload de Imagem:</label>
            <input type="file" id="imagemFile" name="imagemFile" accept="image/*" />
    
            <label for="videoUrl">URL do Vídeo:</label>
            <input type="text" id="videoUrl" name="videoUrl">
    
            <div class="checkbox-container">
                <label for="videoComSom">Reproduzir vídeo com som:</label>
                <input type="checkbox" id="videoComSom" name="videoComSom" />
            </div>
            </select>
    
            <label for="turno">Turno:</label>
            <select id="turno" name="turno" required>
            <option value="matutino">Matutino</option>
            <option value="vespertino">Vespertino</option>
            <option value="ambos">Ambos</option>
            </select>
    
            <label for="dataInicio">Data de Início do Anúncio:</label>
            <input type="date" id="dataInicio" name="dataInicio">

            <label for="dataFim">Data de Término do Anúncio:</label>
            <input type="date" id="dataFim" name="dataFim">
            <input type="hidden" id="dataPostagem" name="dataPostagem">

            <button type="submit">Publicar Informativo</button>
        </form>
    </section>
    <section>
        <h2>Informativos Publicados</h2>
        <div id="informativoList"></div>  
    </section>
<% } %>