<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Refeitório - InfoSchool Broadcast</title>
    <link rel="stylesheet" href="/css/refeitorio.css"> <!-- Link para o CSS -->
</head>
<body>
    <div id="informativoContainer"></div>

    <script src="/js/painelRefeitorio.js"></script> <!-- Link para o JavaScript -->
    
    <footer>
        <div class="logo-coc">
            <img src="/images/logoCOC.png" alt="Logo da Escola">
        </div>
    </footer>
</body>
</html>
