<footer>
    <div class="container-footer">
        <div class="footer-content">
            <!-- Conteúdo do rodapé -->
        </div>
        <div class="footer-bottom">
            Sistema de Reserva | Designed by <a href="http://www.felipeguasti.com.br">Felipe Guasti</a> &#169; All rights reserved
        </div>
    </div>
</footer>
<script src="/js/anuncios.js"></script>
</body>
</html>