<!DOCTYPE html>
    <html>
    <head>
        <title>Administração do Refeitório</title>
        <link rel="stylesheet" href="/css/admin.css">
    </head>
    <body>
        <header>
            <h1>Área Administrativa - Gestão de Anúncios</h1>
            <h3>Página toda</h3>
            <a href="/" class="btn-voltar">← Voltar</a>       
            <nav>
                <ul>
                <li><a href="/admin">Anúncios</a></li>
                <li><a href="/admin/adminRefeitorio" class="active">Refeitório</a></li>
                <!-- Adicione outros links conforme necessário -->
                </ul>
            </nav>
        </header>